h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

p,a,li,td,input,label {
    font-family: 'Work Sans', sans-serif;
}

body {
    background: $bg-body;
}

@mixin orange{
    background: orangered;
}

@mixin parrafo{
    font-size: $fontSize-parrafo;
    color: $text-color;
}